doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- script(src="/javascripts/main.js")
  body
    a(href="/") Home
    | | 
    a(href="/questions/new") new question
    block content
